.DS_Store

.venv
.python-version

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/


# outputs from `prime eval run`
./outputs
./environments/*/outputs

logs/
outputs/

plots/
wandb